/* Header Styles */
header {
  background-color: #171F2B;
  color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  margin-left: 20px;
}

nav a {
  text-decoration: none;
  color: #f3f3f3;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ddd;
}

/* Dropdown Menu Styles (for smaller screens) */
.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: transparent;
  color: #f3f3f3;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #10151D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0; /* Position the dropdown to the right */
  border-radius: 4px;
}

.dropdown-content a {
  color: #f3f3f3;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #171F2B;
}

.show {
  display: block;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  nav {
   display: none; /* Hide the regular nav */
  }
  .dropdown-container {
   display: block; /* Show the dropdown container */
  }

  header {
   flex-direction: row;
   justify-content: space-between;
  }
}

@media (min-width: 769px) {
  .dropdown-container {
   display: none; /* Hide dropdown on larger screens */
  }
}
